@font-face {
  font-family: "SBSansDisplay-Regular";
  src: url("../assets/fonts/SBSansDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SBSansDisplay-Bold";
  src: url("../assets/fonts/SBSansDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SBSansDisplay-SemiBold";
  src: url("../assets/fonts/SBSansDisplay-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "SBSansUI-Regular";
  src: url("../assets/fonts/SBSansUI-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SBSansUI-Bold";
  src: url("../assets/fonts/SBSansUI-Bold.otf") format("opentype");
}
